# Highest Grossing Movies Exercise - Solutions

 We will be using the [Highest Holywood Grossing Movies Dataset](https://www.kaggle.com/sanjeetsinghnaik/top-1000-highest-grossing-movies) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Highest Holywood Grossing Movies.csv as a dataframe called movies.**

In [7]:
df = pd .read_csv("Highest_Holywood_Grossing_Movies.csv")

**Check the head of the DataFrame.**

In [9]:
df.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

**How many rows and columns are there?**

In [10]:
df.shape

(918, 11)

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [12]:
df.drop('Unnamed: 0', inplace=True , axis=1)

In [13]:
df.describe()

       Domestic Sales (in $)  International Sales (in $)  World Sales (in $)
count           9.180000e+02                9.180000e+02        9.180000e+02
mean            1.677469e+08                2.301434e+08        3.968668e+08
std             1.040360e+08                2.176011e+08        3.082629e+08
min             8.036084e+07                2.600000e+02        8.160000e+07
25%             1.016071e+08                8.845620e+07        2.005564e+08
50%             1.321351e+08                1.638819e+08        3.019416e+08
75%             1.913905e+08                2.885577e+08        4.750718e+08
max             9.366622e+08                2.086739e+09        2.847246e+09

**Check if there is any missing values or not**

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       918 non-null    object
 1   Movie Info                  918 non-null    object
 2   Distributor                 918 non-null    object
 3   Release Date                800 non-null    object
 4   Domestic Sales (in $)       918 non-null    int64
 5   International Sales (in $)  918 non-null    int64
 6   World Sales (in $)          918 non-null    int64
 7   Genre                       918 non-null    object
 8   Movie Runtime               918 non-null    object
 9   License                     744 non-null    object
dtypes: int64(3), object(7)
memory usage: 71.8+ KB

Release Date and License have missing values

**what are the average International Sales?**

In [15]:
df['International Sales (in $)'].mean()

230143435.58496732

**what are the highest and lowest World Sales?**

In [16]:
df['World Sales (in $)'].max()

2847246203

In [17]:
df['World Sales (in $)'].min()

81600000

**How many films have been distributed by 'DreamWorks'?**

In [21]:
df[df['Distributor']=='DreamWorks'].shape[0]

21

**What are the top 5 common distributer?**
**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [23]:
df['Distributor'].value_counts()[0:5]

Warner Bros.                           158
Walt Disney Studios Motion Pictures    155
Universal Pictures                     119
Twentieth Century Fox                  117
Sony Pictures Entertainment (SPE)      101
Name: Distributor, dtype: int64

**How many films have licence 'PG-13' and disributed by 'Universal Pictures'**

In [25]:
df[(df['License']=='PG-13') & (df['Distributor']=='Universal Pictures')].shape[0]

57

**How many films released in 2017?**

In [36]:
df['released year']= df['Release Date'].apply(lambda r : str(r).split(", ")[-1])

In [37]:
df['released year']

0      2015
1      2019
2      2009
3       nan
4       nan
       ...
913    2004
914    2001
915    2010
916    2003
917    2011
Name: released year, Length: 918, dtype: object

In [38]:
df[df['released year']=='2017'].shape[0]

32

**What is the  film title with Longest runtime?**

In [76]:
def convert_time (x):
    if len(x)>4:
        y=x.split("hr ")[1]
        return int(x[0])*60 + int(y[:-4])
    else :
        return int(x[0])*60

In [77]:
x='2 hr 59 min'
convert_time (x)

179

In [75]:
len('3 hr')

4

In [54]:
df['Movie Runtime'].unique()

array(['2 hr 18 min', '3 hr 1 min', '2 hr 42 min', '2 hr 14 min',
       '2 hr 29 min', '2 hr 28 min', '3 hr 14 min', '2 hr 4 min',
       '2 hr 23 min', '2 hr 32 min', '1 hr 58 min', '2 hr 13 min',
       '2 hr 21 min', '2 hr 9 min', '1 hr 37 min', '1 hr 43 min',
       '2 hr 16 min', '2 hr 1 min', '2 hr 44 min', '1 hr 33 min',
       '1 hr 55 min', '1 hr 40 min', '2 hr 3 min', '2 hr 26 min',
       '2 hr 31 min', '1 hr 28 min', '2 hr 8 min', '2 hr 10 min',
       '2 hr 27 min', '2 hr 22 min', '1 hr 59 min', '2 hr 7 min',
       '1 hr 42 min', '2 hr 20 min', '3 hr 21 min', '1 hr 27 min',
       '1 hr 38 min', '1 hr 46 min', '1 hr 48 min', '1 hr 35 min',
       '2 hr 17 min', '2 hr 34 min', '2 hr 59 min', '2 hr 19 min',
       '1 hr 31 min', '2 hr 2 min', '2 hr 15 min', '2 hr 24 min',
       '2 hr 6 min', '2 hr 58 min', '2 hr 49 min', '2 hr 11 min',
       '2 hr 25 min', '2 hr 33 min', '1 hr 47 min', '1 hr 36 min',
       '1 hr 32 min', '2 hr 37 min', '1 hr 57 min', '1 hr 25 min',
       '1 hr 44 min', '1 hr 30 min', '1 hr 29 min', '2 hr 41 min',
       '1 hr 41 min', '2 hr 45 min', '1 hr 45 min', '1 hr 53 min',
       '1 hr 56 min', '2 hr 12 min', '2 hr', '2 hr 5 min', '1 hr 24 min',
       '3 hr 7 min', '1 hr 26 min', '1 hr 52 min', '1 hr 34 min',
       '1 hr 51 min', '3 hr 3 min', '1 hr 50 min', '2 hr 35 min',
       '1 hr 23 min', '2 hr 36 min', '2 hr 30 min', '1 hr 21 min',
       '2 hr 38 min', '2 hr 43 min', '1 hr 54 min', '1 hr 49 min',
       '1 hr 39 min', '1 hr 22 min', '3 hr 9 min', '2 hr 55 min',
       '2 hr 46 min', '3 hr', '2 hr 50 min', '1 hr 19 min', '1 hr 18 min',
       '3 hr 15 min', '1 hr 16 min', '1 hr 17 min'], dtype=object)

In [66]:
df.head(2)

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,released year
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2015
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,2019

In [78]:
df['movitime_mints']=df['Movie Runtime'].apply(convert_time)

In [79]:
df['movitime_mints']

0      138
1      181
2      162
3      134
4      149
      ...
913    123
914     82
915    133
916     98
917    102
Name: movitime_mints, Length: 918, dtype: int64

In [85]:
df[df['movitime_mints']==df['movitime_mints'].max()][['Title']]

                                                Title
45  The Lord of the Rings: The Return of the King ...

**What is the  film title with Shortest runtime?**

In [84]:
df[df['movitime_mints']==df['movitime_mints'].min()][['Title']]

                         Title
766  Lady and the Tramp (1955)

# Great Job!